<h1>pssocial</h1>
<h2>login</h2>
<p>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Log in" %>
  <% end %>
</p>
<p>
New to pssocial?
<%= link_to 'signup', signup_path %>
</p>
