<h2>Create your account</h2>

<p>
  <%= form_for(@user, url: signup_path) do |f| %>
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :username %>
    @<%= f.text_field :username, class: "form-control" %>
    <%= f.label :screenname %>
    <%= f.text_field :screenname, class: "form-control" %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control"%>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= f.submit "create account", class: "btn btn-primary" %>
  <% end %>
</p>
