<h1>pssocial</h1>
<h2>signup</h2>

<p>
  <%= form_for(@user, url: signup_path) do |f| %>
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :username %>
    @<%= f.text_field :username %>
    <%= f.label :screenname %>
    <%= f.text_field :screenname %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "create new account" %>
  <% end %>
</p>
