<p id="notice"><%= notice %></p>

<h3>
  <%= @user.screenname  %>
  <small class="text-muted">
    @<%= @user.username  %>
  </small>
  <% if @user.admin %>
    <small><span class="badge badge-primary">administrator</span></small>
  <% end %>
</h3>

<p>
<% if user_me? %>
<button type="button" class="btn btn-secondary">
  edit profile
</button>
<% else %>
<button type="button" class="btn btn-primary">
  Follow
</button>
<% end %>
</p>

<p>
  <%= @user.profile  %>
</p>

<h5><%= @user.posts.size %> Posts</h5>

<% for p in @user.posts %>
  <p> <%= p.content %> </p>
<% end %>
