<p id="notice"><%= notice %></p>

<h3>
  <%= @user.screenname  %>
  <small class="text-muted">
    @<%= @user.username  %>
  </small>
  <% if @user.admin %>
    <small><span class="badge badge-primary">administrator</span></small>
  <% end %>
</h3>

<p>
<% if user_me? then %>
  <%= link_to "#{@user.username}/edit", class: "btn btn-secondary" do %>
    Edit profile
  <% end %>
<% elsif !user.nil? and user.following? @user then %>
  <%= link_to "follow/#{@user.id}", class: "btn btn-danger", method: :delete do %>
    Unfollow
  <% end %>
<% else %>
  <%= link_to "follow/#{@user.id}", class: "btn btn-outline-primary", method: :post do %>
    Follow
  <% end %>
<% end %>
</p>

<p>
<% if !user.nil? and user.followed_by @user then %>
  This user is following you
<% end %>
</p>

<p>
  <%= @user.profile  %>
</p>

<h5>
  <%= @user.posts.size %> Posts
  <a href='<%="#{@user.username}/followings"%>'><%= @user.followings.size %> Followings</a>
  <a href='<%="#{@user.username}/followers"%>'><%= @user.followers.size %> Followers</a>
</h5>

<ul class="list-group">
  <% for p in @user.posts.reverse %>
    <a href='<%="post/#{p.id}"%>', class="list-group-item flex-column align-items-start list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= @user.screenname %> <small>@<%= @user.username %></small></h5>
        <small><%=p.created_at%></small>
      </div>
      <h6 class="mb-1"><%= p.content %></h6>
    </a>
  <% end %>
</ul>
