<% me = current_user %>
<h5>
Hello, <%= me.screenname %> @<%= me.username %>
</h5>

<p>
  <%= form_for(:post, url: post_path) do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</p>

<h2>home</h2>

<%= link_to 'logout', logout_path, method: :delete %>
